<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="icon" href="https://storage.googleapis.com/lazy-icons/not-found-placeholder.webp" type="image/x-icon">
    <title>Random T-shirt Picker</title>
  </head>
  <body class="bg-gray-100 font-sans leading-normal tracking-normal">
    {% include 'partials/_header.html' %}
    <div class="container mx-auto px-4 mt-8 min-h-screen">
      <div class="text-center py-10">
        <div class="tshirt-container">
          {% for tshirt in tshirts %}
          <div class="tshirt-item">
            <img src="{{ tshirt.image }}" alt="T-shirt">
            <a href="{{ tshirt.url }}" target="_blank">Buy Now</a>
            <p>{{ tshirt.source }}</p>
          </div>
          {% endfor %}
        </div>
        <button class="pick-another" onclick="window.location.reload();">Pick another T-shirt</button>
      </div>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>